body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: rgb(0, 0, 91);
  background-image: url("./image/background.jpg");
  background-size:cover;
  background-position: top right;
  background-blend-mode: multiply;
  font-size: 2vw;
  color: aliceblue;
}
a{
  text-decoration: none;
  color: aqua;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page__header{
  display: flex;
  justify-content: space-between;
  padding: 0 1vh 0 1vh;
  background-color: rgb(254, 234, 136);
}

.header__content{
  color: black;
  float: left;
  width: 100%;
}
.body__content{
  min-height:85vh;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

h1{
  font-size: 5vw;
  color: aliceblue;
  text-align: center;
}

h2{
  font-size: 4vw;
  color: aliceblue;
  text-align: center;
}

.main__content{
  width : 100%;
  min-height:80vh;
  margin:1%;
  display: grid;
  grid-template-columns: 15% 82%;
  column-gap : 3%;
}

.menu__zone{
  display: flex;
  justify-content: center;
}
.menu{
  position:sticky;
  background-color: rgba(228, 255, 246, 0.25);
  border-style: solid;
  border-radius: 10px;
  padding: 1vh;
  top: 20px;
  width: 100%;
  max-height: 60vh;
}
.title__menu{
  margin-top: 0;
  font-size: 2vw;
  text-align: center;
}
.content__zone{
  background-color: rgba(248, 225, 225, 0.251);
  border-style: solid;
  border-radius: 10px;
  padding: 20px;
  border-color: aliceblue;
  min-height: 70vh;
  height: 200vh;  
}

/* Task */
.task__card{
  background-color: aliceblue;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  color: black;
  padding: 10px;
  margin: 10px 0 10px 0;
}